.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.main-section {
  height: 100vh;
  background-color: #3f5af1;
}

.heading {
  color: #fff;
  font-size: 5rem;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
}

.nav-logo-img {
  width: 200px;
  height: 50.4296875px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand.w--current {
  display: block;
}

.nav-logo-text {
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
}

.nav-link {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.nav-link:hover {
  color: #3e64ff;
}

.nav-link:active {
  border: 1px none #000;
}

.nav-link:focus {
  border: 1px none #000;
}

.nav-link.w--current {
  border-top: 2px none #3e64ff;
  color: #000;
}

.nav-link-button {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #3e64ff;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 600;
}

.nav-link-button:hover {
  opacity: 0.8;
}

.nav-link-button.w--current {
  color: #fff;
}

.hero-section {
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 100px;
}

.grid {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.hero-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
  font-size: 2rem;
}

.hero-tag {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3e64ff;
  font-size: 1rem;
  font-weight: 600;
}

.hero-p {
  margin-top: 20px;
  font-weight: 500;
}

.main-btn {
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #3e64ff;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.main-btn:hover {
  opacity: 0.8;
}

.main-btn.portfolio-card-btn {
  margin-top: 20px;
}

.main-btn._404-btn {
  width: 100%;
  margin-top: 20px;
}

.body {
  overflow: visible;
  font-family: Montserrat, sans-serif;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero-btn-container {
  display: block;
  margin-top: 20px;
}

.second-btn {
  margin-left: 20px;
  background-color: transparent;
  color: #000;
}

.second-btn:hover {
  color: #3e64ff;
}

.image {
  width: auto;
  height: 350px;
  max-width: none;
  margin-right: -120px;
}

.about-section {
  height: 40vh;
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 100, 255, 0.74)), to(rgba(62, 100, 255, 0.74))), url('../images/about-hero-img.jpeg');
  background-image: linear-gradient(180deg, rgba(62, 100, 255, 0.74), rgba(62, 100, 255, 0.74)), url('../images/about-hero-img.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.about-grid {
  height: 40vh;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-h2 {
  margin-top: 0px;
  color: #fff;
  font-size: 1.7rem;
}

.about-page-tag {
  margin-bottom: 0px;
  color: #3e64ff;
  font-size: 1rem;
  font-weight: 600;
}

.paragraph {
  color: #fff;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
}

.services-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.services-tag {
  color: #3e64ff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.services-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.7rem;
  text-align: center;
}

.services-grid {
  margin-top: 40px;
  margin-bottom: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.services-card {
  text-align: center;
}

.services-card-img {
  width: 60px;
}

.services-card-heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.portfolio-section {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 0px;
}

.portfolio-grid {
  margin-top: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.portfolio-card {
  height: auto;
  padding: 20px 10px;
  border-style: solid;
  border-width: 1px 1px 4px;
  border-color: #eaeaea #eaeaea #3e64ff;
  border-radius: 5px;
  text-align: center;
}

.portfolio-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.7rem;
}

.portfolio-tag {
  color: #3e64ff;
  font-size: 1rem;
  font-weight: 600;
}

.portfolio-card-img {
  width: 153px;
}

.portfolio-card-heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.portfolio-card-p {
  font-weight: 500;
}

.services-card-p {
  font-weight: 500;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 4px solid #3e64ff;
  background-color: #272727;
  color: #272727;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-logo-link.w--current {
  width: 30%;
}

.footer-image {
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-grid {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-text-col {
  margin-top: 20px;
  color: #fff;
  line-height: 22px;
  text-align: left;
}

.footer-email-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  width: 30px;
}

.text-block {
  margin-left: 10px;
  text-align: left;
}

.email-text {
  margin-left: 10px;
  color: #fff;
  text-align: left;
}

.footer-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.heading-3 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

.divider-1 {
  width: 110px;
  height: 3px;
  margin-right: auto;
  margin-left: 0px;
  background-color: #3e64ff;
  text-align: left;
}

.text-block-2 {
  color: #fff;
  text-decoration: none;
}

.footer-link-block {
  text-decoration: none;
}

.divider-2 {
  width: 85px;
  height: 3px;
  margin-right: auto;
  margin-left: 0px;
  background-color: #3e64ff;
  color: #3e64ff;
}

.divider-3 {
  width: 60px;
  height: 3px;
  margin-right: auto;
  margin-left: 0px;
  background-color: #3e64ff;
}

.footer-heading {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-copyright {
  margin-top: 40px;
}

.footer-copyright-text {
  color: #969696;
}

.dropdown-toggle:hover {
  color: #3e64ff;
}

.dropdown-list {
  background-color: #fbfbfb;
}

.dropdown-link:hover {
  color: #3e64ff;
}

.dropdown-link-2:hover {
  color: #3e64ff;
}

.dropdown-link-2.w--current {
  color: #000;
}

.dropdown-link-2.w--current:hover {
  color: #3e64ff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.about-hero-section {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.about-page-grid {
  margin-top: 40px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-page-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.body-2 {
  font-family: Montserrat, sans-serif;
}

.about-page-h2 {
  margin-top: 0px;
  font-size: 2rem;
}

.page-text {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
}

.container-2 {
  text-align: center;
}

.link-block-2 {
  text-decoration: none;
}

.additonal-services-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.services-page-grid {
  justify-items: end;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.services-page-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.body-3 {
  font-family: Montserrat, sans-serif;
}

.services-page-tag {
  color: #3e64ff;
  font-size: 1rem;
  font-weight: 600;
}

.services-page-h1 {
  margin-top: 0px;
  font-size: 2rem;
}

.additional-services-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.additional-services-tag {
  color: #3e64ff;
  font-size: 1rem;
  font-weight: 600;
}

.services-page-h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.service-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  width: 30px;
}

.services-page-text {
  margin-left: 20px;
  font-weight: 500;
}

.contact-hero-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-hero-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.body-4 {
  font-family: Montserrat, sans-serif;
}

.contact-tag {
  color: #3e64ff;
  font-size: 1rem;
  font-weight: 600;
}

.contact-hero-h1 {
  margin-top: 0px;
  font-size: 2rem;
}

.contact-hero-text {
  font-size: 16px;
  font-weight: 500;
}

.contact-form {
  margin-bottom: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field {
  border-radius: 5px;
}

.message-div {
  margin-bottom: 20px;
}

.about-tag {
  margin-bottom: 0px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.pricing-comparison {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.pricing-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.pricing-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 130px 0 rgba(150, 163, 181, 0.12);
}

.pricing-card.featured-pricing {
  z-index: 2;
  box-shadow: 0 4px 130px 0 rgba(150, 163, 181, 0.3);
}

.pricing-image {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
  -o-object-fit: cover;
  object-fit: cover;
}

.pricing-title {
  margin-top: 10px;
  margin-bottom: 8px;
  color: #3e64ff;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.pricing-subtitle {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
}

.pricing-price {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.paragraph-regular {
  font-size: 14px;
  line-height: 20px;
}

.paragraph-regular.margin-bottom-20 {
  margin-bottom: 20px;
}

.button-primary {
  padding: 12px 25px;
  border-radius: 5px;
  background-color: #3e64ff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #3e64ff;
  background-color: #fff;
  color: #3e64ff;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary.outline-button {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #1a1b1f;
  color: #1a1b1f;
}

.button-primary.outline-button:hover {
  background-color: #3e64ff;
  color: #fff;
}

.pricing-divider {
  height: 1px;
  margin: 56px -24px 16px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-color: rgba(118, 135, 157, 0.1);
}

.pricing-feature-list {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  list-style-type: none;
}

.pricing-feature {
  margin-top: 16px;
  padding-left: 32px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-image: url('../images/');
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 24px;
}

.pricing-tag {
  position: absolute;
  top: -19px;
  padding: 7px 16px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(150, 163, 181, 0.2);
  color: #3a4554;
}

.pricing-right {
  text-align: center;
}

.pricing-p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.rl-button {
  padding: 0.75rem 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.rl_pricing18_spacing-block-6 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-regular {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.rl_pricing18_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3e64ff;
}

.rl_pricing18_icon-wrapper {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #000;
}

.rl_pricing18_feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.rl_pricing18_feature-list {
  display: -ms-grid;
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rl_pricing18_spacing-block-5 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_pricing18_spacing-block-4 {
  width: 100%;
  padding-bottom: 0.5rem;
}

.rl-heading-style-h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
}

.rl-heading-style-h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.rl-heading-style-h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #3e64ff;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

.rl_pricing18_price-wrapper {
  text-align: center;
}

.rl_pricing18_plan-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.rl_pricing18_plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 1px 1px 4px;
  border-color: #eaeaea #eaeaea #3e64ff;
  border-radius: 5px;
}

.rl_pricing18_plans {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rl_pricing18_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-text-style-medium {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

.rl_pricing18_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 700;
}

.rl_pricing18_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-text-style-subheading {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}

.rl_pricing18_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
}

.rl_pricing18_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rl-padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.rl-padding-global {
  padding-right: 5%;
  padding-left: 5%;
}

.hp-pricing-section {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .navbar {
    margin-bottom: 50px;
  }

  .nav-logo-img {
    margin-top: 20px;
  }

  .nav-link {
    text-align: center;
  }

  .nav-link-button {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .hero-section {
    margin-top: 50px;
  }

  .image {
    height: 300px;
  }

  .footer-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .icon {
    color: #000;
    font-size: 2.5rem;
  }

  .nav-menu {
    padding-bottom: 20px;
    background-color: #fbfbfb;
    text-align: center;
  }

  .menu-button {
    background-color: #fbfbfb;
  }

  .menu-button.w--open {
    background-color: #fbfbfb;
  }

  .dropdown-toggle {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    text-transform: none;
  }

  .dropdown-link-3 {
    margin-bottom: 10px;
  }

  .about-hero-section {
    margin-top: 50px;
  }

  .services-hero-section {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .contact-hero-section {
    margin-top: 50px;
  }

  .container-3 {
    max-width: 728px;
  }

  .pricing-wrapper {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .pricing-card {
    width: 350px;
  }

  .rl-heading-style-h4 {
    font-size: 1.75rem;
  }

  .rl-heading-style-h1 {
    font-size: 3.25rem;
  }

  .rl_pricing18_plans {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_pricing18_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.75rem;
  }

  .rl-padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 4rem;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .brand {
    padding-left: 20px;
  }

  .brand.w--current {
    padding-left: 20px;
  }

  .nav-link {
    display: block;
  }

  .hero-section {
    margin-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-grid {
    padding-right: 0px;
    padding-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .image {
    height: 300px;
    margin-top: 60px;
    margin-right: 0px;
  }

  .about-grid {
    padding-right: 20px;
    padding-left: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .services-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .services-grid {
    padding-right: 0px;
    padding-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .portfolio-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .portfolio-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-section {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .footer-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-logo {
    width: 248px;
  }

  .footer-col {
    margin-left: 0px;
  }

  .dropdown-toggle {
    text-align: center;
  }

  .dropdown-list {
    background-color: #fbfbfb;
  }

  .dropdown-list.w--open {
    background-color: #fbfbfb;
    text-align: center;
  }

  .dropdown-link {
    text-align: center;
  }

  .dropdown-link-2 {
    text-align: center;
  }

  .dropdown-link-3 {
    text-align: center;
  }

  .about-hero-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .about-page-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about-page-h2 {
    margin-bottom: 0px;
  }

  .page-text {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .additonal-services-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .services-hero-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .services-page-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .additional-services-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact-hero-section {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .pricing-comparison {
    padding: 60px 15px;
  }

  .pricing-wrapper {
    justify-items: stretch;
  }

  .pricing-card {
    width: auto;
  }

  .pricing-title {
    font-size: 34px;
    line-height: 42px;
  }

  .pricing-right {
    margin-top: 40px;
    text-align: left;
  }

  .rl_pricing18_spacing-block-6 {
    padding-bottom: 1.5rem;
  }

  .rl_pricing18_spacing-block-5 {
    padding-bottom: 1.5rem;
  }

  .rl-heading-style-h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .rl-heading-style-h1 {
    font-size: 2.5rem;
  }

  .rl-heading-style-h6 {
    font-size: 1.125rem;
  }

  .rl_pricing18_plan {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .rl_pricing18_plans {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_pricing18_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl-text-style-medium {
    font-size: 1rem;
  }

  .rl_pricing18_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.25rem;
  }

  .rl_pricing18_spacing-block-1 {
    padding-bottom: 0.75rem;
  }

  .rl-padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 3rem;
  }

  .nav-link {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }

  .nav-link-button {
    width: 50%;
  }

  .hero-section {
    overflow: hidden;
  }

  .hero-h1 {
    font-size: 1.9rem;
  }

  .image {
    overflow: visible;
    height: 200px;
  }

  .about-section {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about-grid {
    height: auto;
  }

  .portfolio-h2 {
    font-size: 1.5rem;
  }

  .footer-section {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .nav-menu {
    border: 1px none #000;
  }

  .services-page-text {
    font-weight: 500;
  }

  .contact-hero-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-3 {
    max-width: none;
  }
}

#w-node-_6db99a68-35d9-d606-6100-254abe91ca0d-5759917f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dfdf71a1-2632-7c2d-9506-3028661681ee-5759917f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3f940240-2e2c-3b6a-499a-104d5b255b41-5759917f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_92ba79a7-2060-3406-8782-0062a129d5fb-5759917f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c7088a9b-adf5-3aba-4e83-3a36665c26ed-5759917f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d1693f9b-ff80-5095-8c6c-b0ccf409388e-5759917f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_90a89883-885a-3617-d1f8-b85a3c4f3e3d-5759917f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e16-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e1b-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e20-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_6cbca99d-411f-ba7f-f717-3f7537023de6-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_9260ef54-bafc-1e88-5d12-fed190c4252d-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e38-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e3d-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-afcfa6da-02f2-b922-03b3-d9b71f33de4f-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e42-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e47-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e5f-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a80eae17-c36a-ba17-a2a7-8bb7d12a9e64-5759917f {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_0d16afeb-23e4-4764-8956-fc14c1ffef77-c1ffef73 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d16afeb-23e4-4764-8956-fc14c1ffef7f-c1ffef73 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d16afeb-23e4-4764-8956-fc14c1ffef8e-c1ffef73 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d16afeb-23e4-4764-8956-fc14c1ffef9d-c1ffef73 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41e8926c-8402-3716-86c0-e1f6d05a59aa-d05a59a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41e8926c-8402-3716-86c0-e1f6d05a59b0-d05a59a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_41e8926c-8402-3716-86c0-e1f6d05a59b6-d05a59a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7f4c91d8-6658-a624-0b34-2b2387583c3d-219ef246 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c5366f2f-1163-3153-f2c9-c04df4d8b27c-219ef246 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_7aec2417-78f0-04bc-7c56-755748ffe62d-c579dd4c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-d354bad7-c65e-490a-ae0d-37eefdd3c182-c579dd4c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_086381ad-1f56-5dd8-b509-e7af653736ef-c579dd4c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6bc2eac0-c8d3-73d2-16d4-d988def401ad-c579dd4c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_2e57be7d-7a3a-ced9-2e7a-cb7034dbcf08-6966cb8b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_262933e7-ea35-cfa6-98f3-04162839b05b-6966cb8b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-b59d6112-9f34-2c43-275f-3ac299613f39-6966cb8b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-b79f4a5b-048a-f5a4-4625-edefa42e47af-e3bc23f7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b79f4a5b-048a-f5a4-4625-edefa42e47b7-e3bc23f7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b79f4a5b-048a-f5a4-4625-edefa42e47bf-e3bc23f7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-dfdf71a1-2632-7c2d-9506-3028661681ee-5759917f {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_7f4c91d8-6658-a624-0b34-2b2387583c3d-219ef246 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-c5366f2f-1163-3153-f2c9-c04df4d8b27c-219ef246 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-d354bad7-c65e-490a-ae0d-37eefdd3c182-c579dd4c {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_6bc2eac0-c8d3-73d2-16d4-d988def401ad-c579dd4c {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-b59d6112-9f34-2c43-275f-3ac299613f29-6966cb8b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b59d6112-9f34-2c43-275f-3ac299613f2d-6966cb8b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b59d6112-9f34-2c43-275f-3ac299613f31-6966cb8b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b59d6112-9f34-2c43-275f-3ac299613f35-6966cb8b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

