#about-page-section {
    margin: 40px 0;
}

.about-page-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.about-page-image {
    margin-top: 40px;
}

.about-img {
    height: auto;
    width: 100%;
}