#contact-hero-section  {
    margin: 40px 0;
}

.contact-hero-container {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-image {
    margin-top: 40px;
}

.contact-img {
    height: auto;
    width: 100%;
}

// Contact Form
#contact-form-section {
    margin: 40px 0;
}

.contact-from {
    display: flex;
    flex-direction: column;
}

.field-label {
    margin-bottom: 5px;
    font-size: 16px;
    color: $dark;
    font-weight: 500;
}

.text-field, .message {
    border: 1px #d8d8d8 solid;
    border-radius: 5px;
    padding: 10px 5px;
}

.message {
    height: 100px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}