// HERO SECTION
#hero-section {
    margin: 40px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-headings {
    display: flex;
    flex-direction: column;
}

.hero-button-container {
    display: flex;
    align-items: center;
}

.hero-image {
    margin-top: 30px;
    text-align: center;
}

.hero-img {
    height: auto;
    width: 100%;
}

// About Section
#about-section {
    height: auto;
    margin: 40px 0;
    padding: 20px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 100, 255, 0.74)), to(rgba(62, 100, 255, 0.74))), url('/img/about-hero-img.jpeg');
    background-image: linear-gradient(180deg, rgba(62, 100, 255, 0.74), rgba(62, 100, 255, 0.74)), url('/img/about-hero-img.jpeg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.about-container {
    display: flex;
    flex-direction: column;
}

// Pricing Info
#price-info {
    margin: 40px 0;
}

.price-container {
    display: grid;
    grid-template-columns: 1fr;
}

.price-left {
    display: flex;
    flex-direction: column;
}

.price-right {
    margin-top: 40px;
    text-align: center;
}

.pricing-img {
    height: auto;
    width: 100%;
}

// Project Section
#project-section {
    margin: 40px 0;
}

.project-headings {
    margin-bottom: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.project-card {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    border: 2px $gray solid;
    border-bottom: 3px $blue solid;
    border-radius: 5px;
}

.project-img {
    height: 89px;
    width: 153px;
}