#services-page-section {
    margin: 40px 0;
}

.services-page-container {
    display: grid;
    grid-template-columns: 1fr;
}

.services-page-image {
    margin-top: 40px;
}

.services-img {
    height: auto;
    width: 100%;
}

// Additional Services
#additional-services {
    margin: 40px 0;
}

.services-list {
    margin-top: 40px;
}

.service {
    display: flex;
    margin: 20px 0;
}

.additional-services-container {
    display: grid;
    grid-template-columns: 1fr;
}

.checkmark {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}