#header {
    background-color: $gray;
    padding: 20px 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items:  center;
}

.logo {
    flex: 2;
}

.nav-item-button {
    background-color: $blue;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-item-button:hover {
    color: $white;
    opacity: 0.9;
}

.nav-links {
    font-size: 18px;
    font-weight: 500;
    margin:  0 -50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $gray;
    height: 100%;
    width: 100%;
    top: 0vh;
    left: 50%;
    transform: translateY(-200%);
    transition: transform .7s ease-in;
}

.nav-active {
    transform: translateY(0%);
}

.nav-links li {
    opacity: 0;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger {
    display: block;
    cursor: pointer;
}

//Burger Styles
.burger div {
    width: 25px;
    height: 3px;
    background-color: $dark;
    margin: 5px;
    transition: all 0.3s ease;
}