//Services Section
#services-section {
    margin: 40px 0;
}

.services-headings {
    text-align: center;
    margin-bottom: 40px;
}

.service-card {
    text-align: center;
    margin: 20px 0;
}

.service-card-img {
    height: 60px;
    width: 60px;
}

.services-btn {
    margin-top: 20px;
    text-align: center;
}