/* tablet */
@media screen and (min-width: 550px) {
    // Home Page
    .hero-image img {
        margin-top: 50px;
    }

    .container {
        width: 80%;
    }
}

/*  Desktop */
@media screen and (min-width: 1000px) {
   .container {
    width: 80%;
   }

    // NAV
   .burger {
    display: none;
   }

   .nav-links {
    font-size: 14px;
    flex-direction: row;
    transform: translateY(0%);
    transition: transform 0;
    height: auto;
    width: 60%;
    position: relative;
    left: 0;
    margin: 0 0;
    background-color: transparent;
   }
   
   .nav-links li {
    opacity: 1; 
    }            

    // Home Page
   #hero-section {
    margin: 50px 0;
    }

   .hero-container {
    flex-direction: row;
    align-items: center;
   }

   // About Section
   #about-section  {
    margin: 50px 0;
    padding-top: 60px;
    padding-bottom: 70px;
   }

   .about-container {
    flex-direction: row;
    align-items: center;
   }

   .about-left {
    width: 50%;
   }

   .about-right {
    width: 50%;
   }

   // Price Section
   #price-info {
    margin: 50px 0;
   }

   .price-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
   }

   // Services Section
   #services-page-section {
    margin: 50px 0;
   }

   .services-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
   }

   // Project Section 
   #project-section {
    margin: 50px 0;
   }

   .project-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    }

    // Pricing Table Section
    #pricing-table {
        margin: 50px 0;
    }

    .pricing-table-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    // Footer 
    .footer-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    .column {
        align-items: center;
        text-align: center;
    }

    /**************
    ABOUT PAGE
    **************/
    .about-page-container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

     /******************
       SERVICES PAGE
    *******************/ 
    #services-page-section {
        margin: 50px 0;
    }

    .services-page-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    .services-page-image {
        margin-top: 0px;
    }

    .services-page-image {
        text-align: center;
    }

    #additional-services {
        margin: 50px 0;
    }

    .services-img {
        width: 80%;
    }

    .additional-services-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    .services-list {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    /*******************
       CONTACT PAGE
    *******************/ 
    #contact-hero-section {
        margin: 50px 0;
    }

    .contact-hero-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }
}

/*  Larger Desktops */
@media screen and (min-width: 1400px) {
    .container {
        width: 70%;
    }

    .hero-img {
        width: 80%;
    }

    .pricing-img {
        height: auto;
        width: 80%;
    }
}