body, button {
    font-family: 'Montserrat', sans-serif;
}

// TAGS
.tag-white {
    font-size: 16px;
    color: $white;
    font-weight: 600;
}

.tag-blue {
    font-size: 16px;
    color: $blue;
    font-weight: 600;
}

// H Headings
.h1-dark {
    color: $dark;
    font-size: 2rem;
}

.h1-white {
    color: $white;
    font-size: 2rem;
}

.h2-white {
    color: $white;
    font-size: 1.5rem;
}

.h2-dark {
    color: $dark;
    font-size: 1.5rem;
}

.h2-blue {
    color: $blue;
    font-size: 1.5rem;
}

.h3-white {
    color: $white;
    font-size: 1.2rem;
}

.h3-dark {
    color: $dark;
    font-size: 1.2rem;
}
.h3-blue {
    color: $blue;
    font-size: 1.2rem;
}

// PARAGRAPHS
.p-white {
    font-size: 16px;
    color: $white;
}

.p-dark {
    font-size: 16px;
    color: $dark;
}

.p-blue {
    font-size: 16px;
    color: $blue;
}